In [281]:
# !conda install -c r readr

In [282]:
# install.packages("readr", dependencies = TRUE, repos="https://repo.anaconda.com/pkgs/r/")
# install.packages("hash")
# install.packages("data.table")

In [283]:
# library(readr)
library(hash)
# library(tidyverse)
library(data.table)
library(zoo)

# Pre-processing Dataset

The goal is to merge all the datasets with appropriate structure.

In [284]:
get_all_files_from_directories <- function () {
    files <- hash()

    files["2014"] <- list.files("dataset/2014", pattern=".csv")
    files["2015"] <- list.files("dataset/2015", pattern=".csv")
    files["2016"] <- list.files("dataset/2016", pattern=".csv")
    files["2017"] <- list.files("dataset/2017", pattern=".csv")
    files["2018"] <- list.files("dataset/2018", pattern=".csv")
  
    return(files)
}

The above R programming language code creates a function called get_all_files_from_directories which is used to store a list of files from different directories. It calls the list.files() function, which is used to list all the files in a directory. The pattern argument is used to specify the type of files that are to be listed. In this case, it is set to ".csv" which indicates that only files with the ".csv" extension should be listed. It then stores each of the resulting lists into a hash called 'files' and finally returns this hash.

In [285]:
get_all_files_from_directories()

<hash> containing 5 key-value pair(s).
  2014 : principal_offence_category_april_2014.csv     principal_offence_category_august_2014.csv    principal_offence_category_december_2014.csv  principal_offence_category_february_2014.csv  principal_offence_category_january_2014.csv   principal_offence_category_july_2014.csv      principal_offence_category_june_2014.csv      principal_offence_category_march_2014.csv     principal_offence_category_may_2014.csv       principal_offence_category_november_2014.csv  principal_offence_category_october_2014.csv   principal_offence_category_september_2014.csv
  2015 : principal_offence_category_april_2015.csv     principal_offence_category_august_2015.csv    principal_offence_category_december_2015.csv  principal_offence_category_february_2015.csv  principal_offence_category_january_2015.csv   principal_offence_category_july_2015.csv      principal_offence_category_june_2015.csv      principal_offence_category_march_2015.csv     principal_offence_category_may_2015.csv       principal_offence_category_october_2015.csv   principal_offence_category_september_2015.csv
  2016 : principal_offence_category_april_2016.csv     principal_offence_category_august_2016.csv    principal_offence_category_december_2016.csv  principal_offence_category_january_2016.csv   principal_offence_category_july_2016.csv      principal_offence_category_june_2016.csv      principal_offence_category_may_2016.csv       principal_offence_category_november_2016.csv  principal_offence_category_october_2016.csv   principal_offence_category_september_2016.csv
  2017 : Principal_Offence_Category_Aug.csv           Principal_Offence_Category_Dec.csv           Principal_Offence_Category_Jul.csv           Principal_Offence_Category_Nov.csv           Principal_Offence_Category_Oct.csv           Principal_Offence_Category_Sep.csv           principal_offence_category_february_2017.csv principal_offence_category_january_2017.csv  principal_offence_category_march_2017.csv
  2018 : Principal_Offence_Category_Aug.csv Principal_Offence_Category_Dec.csv Principal_Offence_Category_Feb.csv Principal_Offence_Category_Jan.csv Principal_Offence_Category_Jul.csv Principal_Offence_Category_Mar.csv Principal_Offence_Category_Nov.csv Principal_Offence_Category_Oct.csv Principal_Offence_Category_Sep.csv

In [286]:
merge_files <- function(hash) {
    year <- names(hash)

    combined_df <- do.call(rbind, lapply(year, function(y) {
    do.call(rbind, lapply(hash[[y]], function(f) {
        f_name <- paste("dataset/", y, "/", f, sep="")
            df <- read.csv(f_name, stringsAsFactors = FALSE)
            df$year <- y
            df$month <- tolower(gsub(".csv", "", as.list(strsplit(f, "_")[[1]])[4]))
            df
    }))
  }))
  return(combined_df)
}

In [287]:
combined_df = merge_files(get_all_files_from_directories())

In [288]:
head(combined_df)

  X                 Number.of.Homicide.Convictions
1 National          81
2 Avon and Somerset  1
3 Bedfordshire       0
4 Cambridgeshire     0
5 Cheshire           1
6 Cleveland          0
  Percentage.of.Homicide.Convictions Number.of.Homicide.Unsuccessful
1 85.3%                              14
2 100.0%                              0
3 -                                   0
4 -                                   0
5 50.0%                               1
6 -                                   0
  Percentage.of.Homicide.Unsuccessful
1 14.7%
2 0.0%
3 -
4 -
5 50.0%
6 -
  Number.of.Offences.Against.The.Person.Convictions
1 7,805
2 167
3 69
4 99
5 140
6 85
  Percentage.of.Offences.Against.The.Person.Convictions
1 74.1%
2 78.8%
3 75.0%
4 81.1%
5 74.9%
6 67.5%
  Number.of.Offences.Against.The.Person.Unsuccessful
1 2,722
2 45
3 23
4 23
5 47
6 41
  Percentage.of.Offences.Against.The.Person.Unsuccessful
1 25.9%
2 21.2%
3 25.0%
4 18.9%
5 25.1%
6 32.5%
  Number.of.Sexual.Offences.Convictions ...
1 698                                   ...
2 36                                    ...
3 5                                     ...
4 6                                     ...
5 17                                    ...
6 11                                    ...
  Number.of.All.Other.Offences..excluding.Motoring..Unsuccessful
1 513
2  16
3   6
4   2
5   6
6   5
  Percentage.of.All.Other.Offences..excluding.Motoring..Unsuccessful
1 16.3%
2 19.5%
3 35.3%
4 25.0%
5 10.7%
6 15.2%
  Number.of.Motoring.Offences.Convictions
1 8,283
2 188
3 40
4 79
5 209
6 124
  Percentage.of.Motoring.Offences.Convictions
1 86.3%
2 83.6%
3 88.9%
4 92.9%
5 94.6%
6 87.9%
  Number.of.Motoring.Offences.Unsuccessful
1 1,314
2 37
3 5
4 6
5 12
6 17
  Percentage.of.Motoring.Offences.Unsuccessful
1 13.7%
2 16.4%
3 11.1%
4 7.1%
5 5.4%
6 12.1%
  Number.of.Admin.Finalised.Unsuccessful
1 718
2 24
3 16
4 4
5 1
6 10
  Percentage.of.L.Motoring.Offences.Unsuccessful year month
1 100.0%                                         2014 april
2 100.0%                                         2014 april
3 100.0%                                         2014 april
4 100.0%                                         2014 april
5 100.0%                                         2014 april
6 100.0%                                         2014 april

In [289]:
drop_percentage_columns <- function(dataframe) {
  col_names <- colnames(dataframe)
  to_drop <- grep("Percentage", col_names, value = TRUE)
  dataframe <- dataframe[, !(col_names %in% to_drop)]
  return(dataframe)
}

In [290]:
combined_df = drop_percentage_columns(combined_df)

In [291]:
head(combined_df)

  X                 Number.of.Homicide.Convictions
1 National          81
2 Avon and Somerset  1
3 Bedfordshire       0
4 Cambridgeshire     0
5 Cheshire           1
6 Cleveland          0
  Number.of.Homicide.Unsuccessful
1 14
2  0
3  0
4  0
5  1
6  0
  Number.of.Offences.Against.The.Person.Convictions
1 7,805
2 167
3 69
4 99
5 140
6 85
  Number.of.Offences.Against.The.Person.Unsuccessful
1 2,722
2 45
3 23
4 23
5 47
6 41
  Number.of.Sexual.Offences.Convictions Number.of.Sexual.Offences.Unsuccessful
1 698                                   269
2 36                                      8
3 5                                       1
4 6                                       3
5 17                                      3
6 11                                      4
  Number.of.Burglary.Convictions Number.of.Burglary.Unsuccessful
1 1,470                          226
2 37                               2
3 16                               1
4 8                                0
5 26                               3
6 25                              10
  Number.of.Robbery.Convictions ... Number.of.Drugs.Offences.Unsuccessful
1 517                           ... 279
2   9                           ...   2
3   4                           ...   2
4   6                           ...   2
5   1                           ...  10
6   5                           ...   7
  Number.of.Public.Order.Offences.Convictions
1 3,549
2 68
3 29
4 45
5 86
6 74
  Number.of.Public.Order.Offences.Unsuccessful
1 654
2  11
3   6
4   9
5   7
6  27
  Number.of.All.Other.Offences..excluding.Motoring..Convictions
1 2,640
2 66
3 11
4 6
5 50
6 28
  Number.of.All.Other.Offences..excluding.Motoring..Unsuccessful
1 513
2  16
3   6
4   2
5   6
6   5
  Number.of.Motoring.Offences.Convictions
1 8,283
2 188
3 40
4 79
5 209
6 124
  Number.of.Motoring.Offences.Unsuccessful
1 1,314
2 37
3 5
4 6
5 12
6 17
  Number.of.Admin.Finalised.Unsuccessful year month
1 718                                    2014 april
2 24                                     2014 april
3 16                                     2014 april
4 4                                      2014 april
5 1                                      2014 april
6 10                                     2014 april

In [292]:
sort_by_yearmon <- function(dataframe){
  dataframe$yearmon <- as.Date(paste(dataframe$year, dataframe$month, "01", sep = "-"), "%Y-%b-%d")
  dataframe <- dataframe[order(dataframe$yearmon),]
  return(dataframe)
}

In [293]:
combined_df <- sort_by_yearmon(combined_df)

In [294]:
head(combined_df)

    X                 Number.of.Homicide.Convictions
173 National          51
174 Avon and Somerset  0
175 Bedfordshire       0
176 Cambridgeshire     0
177 Cheshire           0
178 Cleveland          2
    Number.of.Homicide.Unsuccessful
173 11
174  0
175  1
176  0
177  0
178  3
    Number.of.Offences.Against.The.Person.Convictions
173 9,087
174 228
175 68
176 101
177 170
178 119
    Number.of.Offences.Against.The.Person.Unsuccessful
173 2,930
174 62
175 29
176 21
177 40
178 44
    Number.of.Sexual.Offences.Convictions
173 736
174 35
175 2
176 10
177 15
178 11
    Number.of.Sexual.Offences.Unsuccessful Number.of.Burglary.Convictions
173 286                                    1,715
174  17                                    49
175   1                                    7
176   3                                    18
177   1                                    38
178   6                                    36
    Number.of.Burglary.Unsuccessful Number.of.Robbery.Convictions ...
173 284                             522                           ...
174   1                               8                           ...
175   4                              16                           ...
176   4                               6                           ...
177   5                              10                           ...
178   2                               3                           ...
    Number.of.Public.Order.Offences.Convictions
173 4,752
174 123
175 30
176 37
177 77
178 123
    Number.of.Public.Order.Offences.Unsuccessful
173 797
174  28
175   9
176   2
177   8
178  27
    Number.of.All.Other.Offences..excluding.Motoring..Convictions
173 3,291
174 63
175 13
176 28
177 50
178 34
    Number.of.All.Other.Offences..excluding.Motoring..Unsuccessful
173 586
174   9
175   2
176   9
177   5
178  14
    Number.of.Motoring.Offences.Convictions
173 12,945
174 256
175 171
176 103
177 264
178 228
    Number.of.Motoring.Offences.Unsuccessful
173 1,466
174 40
175 13
176 16
177 16
178 16
    Number.of.Admin.Finalised.Unsuccessful year month   yearmon
173 890                                    2014 january 2014-01-01
174 20                                     2014 january 2014-01-01
175 12                                     2014 january 2014-01-01
176 14                                     2014 january 2014-01-01
177 13                                     2014 january 2014-01-01
178 3                                      2014 january 2014-01-01

In [295]:
shift_columns <- function(dataframe){
  cols <- colnames(dataframe)
  cols <- c(cols[1], cols[(length(cols)-2):length(cols)], cols[2:(length(cols)-3)])
  dataframe[, cols]
}

In [296]:
combined_df <- shift_columns(combined_df)

In [297]:
head(combined_df)

    X                 year month   yearmon    Number.of.Homicide.Convictions
173 National          2014 january 2014-01-01 51
174 Avon and Somerset 2014 january 2014-01-01  0
175 Bedfordshire      2014 january 2014-01-01  0
176 Cambridgeshire    2014 january 2014-01-01  0
177 Cheshire          2014 january 2014-01-01  0
178 Cleveland         2014 january 2014-01-01  2
    Number.of.Homicide.Unsuccessful
173 11
174  0
175  1
176  0
177  0
178  3
    Number.of.Offences.Against.The.Person.Convictions
173 9,087
174 228
175 68
176 101
177 170
178 119
    Number.of.Offences.Against.The.Person.Unsuccessful
173 2,930
174 62
175 29
176 21
177 40
178 44
    Number.of.Sexual.Offences.Convictions
173 736
174 35
175 2
176 10
177 15
178 11
    Number.of.Sexual.Offences.Unsuccessful ...
173 286                                    ...
174  17                                    ...
175   1                                    ...
176   3                                    ...
177   1                                    ...
178   6                                    ...
    Number.of.Criminal.Damage.Unsuccessful Number.of.Drugs.Offences.Convictions
173 472                                    4,988
174  14                                    148
175   8                                    31
176   3                                    47
177   3                                    64
178  13                                    65
    Number.of.Drugs.Offences.Unsuccessful
173 305
174   4
175   3
176   1
177   3
178   2
    Number.of.Public.Order.Offences.Convictions
173 4,752
174 123
175 30
176 37
177 77
178 123
    Number.of.Public.Order.Offences.Unsuccessful
173 797
174  28
175   9
176   2
177   8
178  27
    Number.of.All.Other.Offences..excluding.Motoring..Convictions
173 3,291
174 63
175 13
176 28
177 50
178 34
    Number.of.All.Other.Offences..excluding.Motoring..Unsuccessful
173 586
174   9
175   2
176   9
177   5
178  14
    Number.of.Motoring.Offences.Convictions
173 12,945
174 256
175 171
176 103
177 264
178 228
    Number.of.Motoring.Offences.Unsuccessful
173 1,466
174 40
175 13
176 16
177 16
178 16
    Number.of.Admin.Finalised.Unsuccessful
173 890
174 20
175 12
176 14
177 13
178 3

In [298]:
write.csv(combined_df, "dataset/preprocessed-data.csv", row.names=TRUE)