Using the data analytics tools and techniques learnt from the lectures, you are required to apply different techniques related to descriptive and predictive analytics on the integrated dataset. 

You will also be required to develop a prediction model using one linear regression technique, one clustering technique and one classification technique. 

The assignment deliverables will consist of the following: 

001 - A report containing: 

      a. Definition of, at least, two different hypotheses based on the current dataset; 

      b. Explanation and justification for any cleaning/integration technique used in the dataset; 

      c. Analysis and interpretation of results using descriptive analytics; 

     d. Implementation of a prediction model using one linear regression technique, one clustering technique and one classification        technique; 

     e. Critical review of the data analytics tools and techniques used. You have to analyse the effectiveness of the techniques you have used, discuss alternative solutions and compare strengths and weaknesses between them; 

    f. Critical review of the visualisation tools used. You have to analyse the effectiveness of the visualisation tools you have used, discuss alternative solutions and compare strengths and weaknesses between them; 

   g. References and citations to support the analysis made in the report. 



002 - Uploaded to Moodle  containing

   a.  R code supporting the report provided. The R code has to provide all the code used for cleaning, integrating, analysing, visualising and creating the models proposed and discussed in the report

```
-- Dataset Merging and Preperation (Dataset Pre-processing)
    -- Data Cleaning (Dataset Pre-processing)

-- Data Exploration
   -- Explore the in-consistent months
   
-- Descriptive Data Analytics
    -- Data Sampling & Visualisation 
    
-- Diagnostic Data Analytics
    -- Covariance + Correlation
    
-- Predictive Data Analytics 
    (Linear Regression, Time Series, Classification, Clustering)

-- Prescriptive Data Analytics
```

In [269]:
# install.packages('hash')
# install.packages('tidyverse')
# install.packages('zoo')
# install.packages("skimr")
# install.packages("devtools")
# devtools::install_github("ropensci/visdat")
# install.packages("DataExplorer")
# install.packages("inspectdf")
# install.packages("ggcorrplot")
# install.packages("corrplot")

In [270]:
library(readr)
library(hash)
library(tidyverse)
library(data.table)
library(zoo)
library(dplyr)
library(ggmap)
library(skimr)
library(devtools)
library(visdat)
library(DataExplorer)
library(inspectdf)
library(ggplot2)
library(ggcorrplot)
library(corrplot)

# Dataset Integration

In [271]:
get_all_files_from_directories <- function () {
    files <- hash()

    files["2014"] <- list.files("dataset/2014", pattern=".csv")
    files["2015"] <- list.files("dataset/2015", pattern=".csv")
    files["2016"] <- list.files("dataset/2016", pattern=".csv")
    files["2017"] <- list.files("dataset/2017", pattern=".csv")
    files["2018"] <- list.files("dataset/2018", pattern=".csv")
  
    return(files)
}

In [272]:
get_all_files_from_directories()

<hash> containing 5 key-value pair(s).
  2014 : principal_offence_category_april_2014.csv     principal_offence_category_august_2014.csv    principal_offence_category_december_2014.csv  principal_offence_category_february_2014.csv  principal_offence_category_january_2014.csv   principal_offence_category_july_2014.csv      principal_offence_category_june_2014.csv      principal_offence_category_march_2014.csv     principal_offence_category_may_2014.csv       principal_offence_category_november_2014.csv  principal_offence_category_october_2014.csv   principal_offence_category_september_2014.csv
  2015 : principal_offence_category_april_2015.csv     principal_offence_category_august_2015.csv    principal_offence_category_december_2015.csv  principal_offence_category_february_2015.csv  principal_offence_category_january_2015.csv   principal_offence_category_july_2015.csv      principal_offence_category_june_2015.csv      principal_offence_category_march_2015.csv     principal_offence_category_may_2015.csv       principal_offence_category_october_2015.csv   principal_offence_category_september_2015.csv
  2016 : principal_offence_category_april_2016.csv     principal_offence_category_august_2016.csv    principal_offence_category_december_2016.csv  principal_offence_category_january_2016.csv   principal_offence_category_july_2016.csv      principal_offence_category_june_2016.csv      principal_offence_category_may_2016.csv       principal_offence_category_november_2016.csv  principal_offence_category_october_2016.csv   principal_offence_category_september_2016.csv
  2017 : Principal_Offence_Category_Aug.csv           Principal_Offence_Category_Dec.csv           principal_offence_category_february_2017.csv principal_offence_category_january_2017.csv  Principal_Offence_Category_Jul.csv           principal_offence_category_march_2017.csv    Principal_Offence_Category_Nov.csv           Principal_Offence_Category_Oct.csv           Principal_Offence_Category_Sep.csv
  2018 : Principal_Offence_Category_Aug.csv Principal_Offence_Category_Dec.csv Principal_Offence_Category_Feb.csv Principal_Offence_Category_Jan.csv Principal_Offence_Category_Jul.csv Principal_Offence_Category_Mar.csv Principal_Offence_Category_Nov.csv Principal_Offence_Category_Oct.csv Principal_Offence_Category_Sep.csv

In [273]:
merge_files <- function(hash) {
    year <- names(hash)

    combined_df <- do.call(rbind, lapply(year, function(y) {
    do.call(rbind, lapply(hash[[y]], function(f) {
        f_name <- paste("dataset/", y, "/", f, sep="")
            df <- read.csv(f_name, stringsAsFactors = FALSE)
            df$year <- y
            df$month <- tolower(gsub(".csv", "", as.list(strsplit(f, "_")[[1]])[4]))
            df
    }))
  }))
  return(combined_df)
}

In [274]:
combined_df = merge_files(get_all_files_from_directories())

In [275]:
head(combined_df)

  X                 Number.of.Homicide.Convictions
1 National          81
2 Avon and Somerset  1
3 Bedfordshire       0
4 Cambridgeshire     0
5 Cheshire           1
6 Cleveland          0
  Percentage.of.Homicide.Convictions Number.of.Homicide.Unsuccessful
1 85.3%                              14
2 100.0%                              0
3 -                                   0
4 -                                   0
5 50.0%                               1
6 -                                   0
  Percentage.of.Homicide.Unsuccessful
1 14.7%
2 0.0%
3 -
4 -
5 50.0%
6 -
  Number.of.Offences.Against.The.Person.Convictions
1 7,805
2 167
3 69
4 99
5 140
6 85
  Percentage.of.Offences.Against.The.Person.Convictions
1 74.1%
2 78.8%
3 75.0%
4 81.1%
5 74.9%
6 67.5%
  Number.of.Offences.Against.The.Person.Unsuccessful
1 2,722
2 45
3 23
4 23
5 47
6 41
  Percentage.of.Offences.Against.The.Person.Unsuccessful
1 25.9%
2 21.2%
3 25.0%
4 18.9%
5 25.1%
6 32.5%
  Number.of.Sexual.Offences.Convictions ⋯
1 698                                   ⋯
2 36                                    ⋯
3 5                                     ⋯
4 6                                     ⋯
5 17                                    ⋯
6 11                                    ⋯
  Number.of.All.Other.Offences..excluding.Motoring..Unsuccessful
1 513
2  16
3   6
4   2
5   6
6   5
  Percentage.of.All.Other.Offences..excluding.Motoring..Unsuccessful
1 16.3%
2 19.5%
3 35.3%
4 25.0%
5 10.7%
6 15.2%
  Number.of.Motoring.Offences.Convictions
1 8,283
2 188
3 40
4 79
5 209
6 124
  Percentage.of.Motoring.Offences.Convictions
1 86.3%
2 83.6%
3 88.9%
4 92.9%
5 94.6%
6 87.9%
  Number.of.Motoring.Offences.Unsuccessful
1 1,314
2 37
3 5
4 6
5 12
6 17
  Percentage.of.Motoring.Offences.Unsuccessful
1 13.7%
2 16.4%
3 11.1%
4 7.1%
5 5.4%
6 12.1%
  Number.of.Admin.Finalised.Unsuccessful
1 718
2 24
3 16
4 4
5 1
6 10
  Percentage.of.L.Motoring.Offences.Unsuccessful year month
1 100.0%                                         2014 april
2 100.0%                                         2014 april
3 100.0%                                         2014 april
4 100.0%                                         2014 april
5 100.0%                                         2014 april
6 100.0%                                         2014 april

In [276]:
write.csv(combined_df, "dataset/merged-data.csv", row.names=FALSE)

# Data Cleaning

In [277]:
combined_df <- read.csv("dataset/merged-data.csv")

In [278]:
glimpse(combined_df)

Rows: 2,193
Columns: 53
$ X                                                                  <chr> "Na…
$ Number.of.Homicide.Convictions                                     <int> 81,…
$ Percentage.of.Homicide.Convictions                                 <chr> "85…
$ Number.of.Homicide.Unsuccessful                                    <int> 14,…
$ Percentage.of.Homicide.Unsuccessful                                <chr> "14…
$ Number.of.Offences.Against.The.Person.Convictions                  <chr> "7,…
$ Percentage.of.Offences.Against.The.Person.Convictions              <chr> "74…
$ Number.of.Offences.Against.The.Person.Unsuccessful                 <chr> "2,…
$ Percentage.of.Offences.Against.The.Person.Unsuccessful             <chr> "25…
$ Number.of.Sexual.Offences.Convictions                              <chr> "69…
$ Percentage.of.Sexual.Offences.Convictions                          <chr> "72…
$ Number.of.Sexual.Offences.Unsuccessful                             <int> 269…
$ Percentage.of.Sexual.Offences.Unsuccessful                         <chr> "27…
$ Number.of.Burglary.Convictions                                     <chr> "1,…
$ Percentage.of.Burglary.Convictions                                 <chr> "86…
$ Number.of.Burglary.Unsuccessful                                    <int> 226…
$ Percentage.of.Burglary.Unsuccessful                                <chr> "13…
$ Number.of.Robbery.Convictions                                      <int> 517…
$ Percentage.of.Robbery.Convictions                                  <chr> "81…
$ Number.of.Robbery.Unsuccessful                                     <int> 116…
$ Percentage.of.Robbery.Unsuccessful                                 <chr> "18…
$ Number.of.Theft.And.Handling.Convictions                           <chr> "10…
$ Percentage.of.Theft.And.Handling.Convictions                       <chr> "92…
$ Number.of.Theft.And.Handling.Unsuccessful                          <chr> "84…
$ Percentage.of.Theft.And.Handling.Unsuccessful                      <chr> "7.…
$ Number.of.Fraud.And.Forgery.Convictions                            <chr> "66…
$ Percentage.of.Fraud.And.Forgery.Convictions                        <chr> "86…
$ Number.of.Fraud.And.Forgery.Unsuccessful                           <int> 108…
$ Percentage.of.Fraud.And.Forgery.Unsuccessful                       <chr> "14…
$ Number.of.Criminal.Damage.Convictions                              <chr> "2,…
$ Percentage.of.Criminal.Damage.Convictions                          <chr> "85…
$ Number.of.Criminal.Damage.Unsuccessful                             <int> 391…
$ Percentage.of.Criminal.Damage.Unsuccessful                         <chr> "14…
$ Number.of.Drugs.Offences.Convictions                               <chr> "4,…
$ Percentage.of.Drugs.Offences.Convictions                           <chr> "94…
$ Number.of.Drugs.Offences.Unsuccessful                              <int> 279…
$ Percentage.of.Drugs.Offences.Unsuccessful                          <chr> "5.…
$ Number.of.Public.Order.Offences.Convictions                        <chr> "3,…
$ Percentage.of.Public.Order.Offences.Convictions                    <chr> "84…
$ Number.of.Public.Order.Offences.Unsuccessful                       <int> 654…
$ Percentage.of.Public.Order.Offences.Unsuccessful                   <chr> "15…
$ Number.of.All.Other.Offences..excluding.Motoring..Convictions      <chr> "2,…
$ Percentage.of.All.Other.Offences..excluding.Motoring..Convictions  <chr> "83…
$ Number.of.All.Other.Offences..excluding.Motoring..Unsuccessful     <int> 513…
$ Percentage.of.All.Other.Offences..excluding.Motoring..Unsuccessful <chr> "16…
$ Number.of.Motoring.Offences.Convictions                            <chr> "8,…
$ Percentage.of.Motoring.Offences.Convictions                        <chr> "86…
$ Number.of.Motoring.Offences.Unsuccessful                           <chr> "1,…
$ Percentage.of.Motoring.Offences.Unsuccessful                       <chr> "13…
$ Number.of.Admin.Finalised.Unsuccessful                             <chr> "71…
$ Percentage.of.L.Motoring.Offences.Unsuccessful                     <chr> "10…
$ year                                                               <int> 201…
$ month                                                              <chr> "ap…

In [279]:
drop_percentage_columns <- function(dataframe) {
  col_names <- colnames(dataframe)
  to_drop <- grep("Percentage", col_names, value = TRUE)
  dataframe <- dataframe[, !(col_names %in% to_drop)]
  return(dataframe)
}

In [280]:
combined_df = drop_percentage_columns(combined_df)

In [281]:
head(combined_df)

  X                 Number.of.Homicide.Convictions
1 National          81
2 Avon and Somerset  1
3 Bedfordshire       0
4 Cambridgeshire     0
5 Cheshire           1
6 Cleveland          0
  Number.of.Homicide.Unsuccessful
1 14
2  0
3  0
4  0
5  1
6  0
  Number.of.Offences.Against.The.Person.Convictions
1 7,805
2 167
3 69
4 99
5 140
6 85
  Number.of.Offences.Against.The.Person.Unsuccessful
1 2,722
2 45
3 23
4 23
5 47
6 41
  Number.of.Sexual.Offences.Convictions Number.of.Sexual.Offences.Unsuccessful
1 698                                   269
2 36                                      8
3 5                                       1
4 6                                       3
5 17                                      3
6 11                                      4
  Number.of.Burglary.Convictions Number.of.Burglary.Unsuccessful
1 1,470                          226
2 37                               2
3 16                               1
4 8                                0
5 26                               3
6 25                              10
  Number.of.Robbery.Convictions ⋯ Number.of.Drugs.Offences.Unsuccessful
1 517                           ⋯ 279
2   9                           ⋯   2
3   4                           ⋯   2
4   6                           ⋯   2
5   1                           ⋯  10
6   5                           ⋯   7
  Number.of.Public.Order.Offences.Convictions
1 3,549
2 68
3 29
4 45
5 86
6 74
  Number.of.Public.Order.Offences.Unsuccessful
1 654
2  11
3   6
4   9
5   7
6  27
  Number.of.All.Other.Offences..excluding.Motoring..Convictions
1 2,640
2 66
3 11
4 6
5 50
6 28
  Number.of.All.Other.Offences..excluding.Motoring..Unsuccessful
1 513
2  16
3   6
4   2
5   6
6   5
  Number.of.Motoring.Offences.Convictions
1 8,283
2 188
3 40
4 79
5 209
6 124
  Number.of.Motoring.Offences.Unsuccessful
1 1,314
2 37
3 5
4 6
5 12
6 17
  Number.of.Admin.Finalised.Unsuccessful year month
1 718                                    2014 april
2 24                                     2014 april
3 16                                     2014 april
4 4                                      2014 april
5 1                                      2014 april
6 10                                     2014 april

In [282]:
sort_by_yearmon <- function(dataframe){
  dataframe$yearmon <- as.Date(paste(dataframe$year, dataframe$month, "01", sep = "-"), "%Y-%b-%d")
  dataframe <- dataframe[order(dataframe$yearmon),]
  return(dataframe)
}

In [283]:
combined_df <- sort_by_yearmon(combined_df)

In [284]:
head(combined_df)

    X                 Number.of.Homicide.Convictions
173 National          51
174 Avon and Somerset  0
175 Bedfordshire       0
176 Cambridgeshire     0
177 Cheshire           0
178 Cleveland          2
    Number.of.Homicide.Unsuccessful
173 11
174  0
175  1
176  0
177  0
178  3
    Number.of.Offences.Against.The.Person.Convictions
173 9,087
174 228
175 68
176 101
177 170
178 119
    Number.of.Offences.Against.The.Person.Unsuccessful
173 2,930
174 62
175 29
176 21
177 40
178 44
    Number.of.Sexual.Offences.Convictions
173 736
174 35
175 2
176 10
177 15
178 11
    Number.of.Sexual.Offences.Unsuccessful Number.of.Burglary.Convictions
173 286                                    1,715
174  17                                    49
175   1                                    7
176   3                                    18
177   1                                    38
178   6                                    36
    Number.of.Burglary.Unsuccessful Number.of.Robbery.Convictions ⋯
173 284                             522                           ⋯
174   1                               8                           ⋯
175   4                              16                           ⋯
176   4                               6                           ⋯
177   5                              10                           ⋯
178   2                               3                           ⋯
    Number.of.Public.Order.Offences.Convictions
173 4,752
174 123
175 30
176 37
177 77
178 123
    Number.of.Public.Order.Offences.Unsuccessful
173 797
174  28
175   9
176   2
177   8
178  27
    Number.of.All.Other.Offences..excluding.Motoring..Convictions
173 3,291
174 63
175 13
176 28
177 50
178 34
    Number.of.All.Other.Offences..excluding.Motoring..Unsuccessful
173 586
174   9
175   2
176   9
177   5
178  14
    Number.of.Motoring.Offences.Convictions
173 12,945
174 256
175 171
176 103
177 264
178 228
    Number.of.Motoring.Offences.Unsuccessful
173 1,466
174 40
175 13
176 16
177 16
178 16
    Number.of.Admin.Finalised.Unsuccessful year month   yearmon
173 890                                    2014 january 2014-01-01
174 20                                     2014 january 2014-01-01
175 12                                     2014 january 2014-01-01
176 14                                     2014 january 2014-01-01
177 13                                     2014 january 2014-01-01
178 3                                      2014 january 2014-01-01

In [285]:
shift_columns <- function(dataframe){
  cols <- colnames(dataframe)
  cols <- c(cols[1], cols[(length(cols)-2):length(cols)], cols[2:(length(cols)-3)])
  dataframe[, cols]
}

In [286]:
combined_df <- shift_columns(combined_df)

In [287]:
head(combined_df)

    X                 year month   yearmon    Number.of.Homicide.Convictions
173 National          2014 january 2014-01-01 51
174 Avon and Somerset 2014 january 2014-01-01  0
175 Bedfordshire      2014 january 2014-01-01  0
176 Cambridgeshire    2014 january 2014-01-01  0
177 Cheshire          2014 january 2014-01-01  0
178 Cleveland         2014 january 2014-01-01  2
    Number.of.Homicide.Unsuccessful
173 11
174  0
175  1
176  0
177  0
178  3
    Number.of.Offences.Against.The.Person.Convictions
173 9,087
174 228
175 68
176 101
177 170
178 119
    Number.of.Offences.Against.The.Person.Unsuccessful
173 2,930
174 62
175 29
176 21
177 40
178 44
    Number.of.Sexual.Offences.Convictions
173 736
174 35
175 2
176 10
177 15
178 11
    Number.of.Sexual.Offences.Unsuccessful ⋯
173 286                                    ⋯
174  17                                    ⋯
175   1                                    ⋯
176   3                                    ⋯
177   1                                    ⋯
178   6                                    ⋯
    Number.of.Criminal.Damage.Unsuccessful Number.of.Drugs.Offences.Convictions
173 472                                    4,988
174  14                                    148
175   8                                    31
176   3                                    47
177   3                                    64
178  13                                    65
    Number.of.Drugs.Offences.Unsuccessful
173 305
174   4
175   3
176   1
177   3
178   2
    Number.of.Public.Order.Offences.Convictions
173 4,752
174 123
175 30
176 37
177 77
178 123
    Number.of.Public.Order.Offences.Unsuccessful
173 797
174  28
175   9
176   2
177   8
178  27
    Number.of.All.Other.Offences..excluding.Motoring..Convictions
173 3,291
174 63
175 13
176 28
177 50
178 34
    Number.of.All.Other.Offences..excluding.Motoring..Unsuccessful
173 586
174   9
175   2
176   9
177   5
178  14
    Number.of.Motoring.Offences.Convictions
173 12,945
174 256
175 171
176 103
177 264
178 228
    Number.of.Motoring.Offences.Unsuccessful
173 1,466
174 40
175 13
176 16
177 16
178 16
    Number.of.Admin.Finalised.Unsuccessful
173 890
174 20
175 12
176 14
177 13
178 3

In [288]:
rename_columns <- function(dataframe){
  colnames(dataframe) <- gsub("Number.of.", "", colnames(dataframe))
  colnames(dataframe) <- gsub("\\.", "_", colnames(dataframe))
  colnames(dataframe) <- tolower(colnames(dataframe))
  return(dataframe)
}

In [289]:
combined_df <- rename_columns(combined_df)

In [290]:
head(combined_df)

    x                 year month   yearmon    homicide_convictions
173 National          2014 january 2014-01-01 51
174 Avon and Somerset 2014 january 2014-01-01  0
175 Bedfordshire      2014 january 2014-01-01  0
176 Cambridgeshire    2014 january 2014-01-01  0
177 Cheshire          2014 january 2014-01-01  0
178 Cleveland         2014 january 2014-01-01  2
    homicide_unsuccessful offences_against_the_person_convictions
173 11                    9,087
174  0                    228
175  1                    68
176  0                    101
177  0                    170
178  3                    119
    offences_against_the_person_unsuccessful sexual_offences_convictions
173 2,930                                    736
174 62                                       35
175 29                                       2
176 21                                       10
177 40                                       15
178 44                                       11
    sexual_offences_unsuccessful ⋯ criminal_damage_unsuccessful
173 286                          ⋯ 472
174  17                          ⋯  14
175   1                          ⋯   8
176   3                          ⋯   3
177   1                          ⋯   3
178   6                          ⋯  13
    drugs_offences_convictions drugs_offences_unsuccessful
173 4,988                      305
174 148                          4
175 31                           3
176 47                           1
177 64                           3
178 65                           2
    public_order_offences_convictions public_order_offences_unsuccessful
173 4,752                             797
174 123                                28
175 30                                  9
176 37                                  2
177 77                                  8
178 123                                27
    all_other_offences__excluding_motoring__convictions
173 3,291
174 63
175 13
176 28
177 50
178 34
    all_other_offences__excluding_motoring__unsuccessful
173 586
174   9
175   2
176   9
177   5
178  14
    motoring_offences_convictions motoring_offences_unsuccessful
173 12,945                        1,466
174 256                           40
175 171                           13
176 103                           16
177 264                           16
178 228                           16
    admin_finalised_unsuccessful
173 890
174 20
175 12
176 14
177 13
178 3

In [291]:
remove_special_characters_and_convert_to_integer <- function(dataframe){
  dataframe <- dataframe %>% 
    mutate_all(funs(gsub(",", "", .)))
  dataframe[,5:ncol(dataframe)] <- sapply(dataframe[,5:ncol(dataframe)], as.integer)
  return(dataframe)
}

In [292]:
combined_df <- remove_special_characters_and_convert_to_integer(combined_df)

In [293]:
head(combined_df)

    x                 year month   yearmon    homicide_convictions
173 National          2014 january 2014-01-01 51
174 Avon and Somerset 2014 january 2014-01-01  0
175 Bedfordshire      2014 january 2014-01-01  0
176 Cambridgeshire    2014 january 2014-01-01  0
177 Cheshire          2014 january 2014-01-01  0
178 Cleveland         2014 january 2014-01-01  2
    homicide_unsuccessful offences_against_the_person_convictions
173 11                    9087
174  0                     228
175  1                      68
176  0                     101
177  0                     170
178  3                     119
    offences_against_the_person_unsuccessful sexual_offences_convictions
173 2930                                     736
174   62                                      35
175   29                                       2
176   21                                      10
177   40                                      15
178   44                                      11
    sexual_offences_unsuccessful ⋯ criminal_damage_unsuccessful
173 286                          ⋯ 472
174  17                          ⋯  14
175   1                          ⋯   8
176   3                          ⋯   3
177   1                          ⋯   3
178   6                          ⋯  13
    drugs_offences_convictions drugs_offences_unsuccessful
173 4988                       305
174  148                         4
175   31                         3
176   47                         1
177   64                         3
178   65                         2
    public_order_offences_convictions public_order_offences_unsuccessful
173 4752                              797
174  123                               28
175   30                                9
176   37                                2
177   77                                8
178  123                               27
    all_other_offences__excluding_motoring__convictions
173 3291
174   63
175   13
176   28
177   50
178   34
    all_other_offences__excluding_motoring__unsuccessful
173 586
174   9
175   2
176   9
177   5
178  14
    motoring_offences_convictions motoring_offences_unsuccessful
173 12945                         1466
174   256                           40
175   171                           13
176   103                           16
177   264                           16
178   228                           16
    admin_finalised_unsuccessful
173 890
174  20
175  12
176  14
177  13
178   3

In [294]:
unique(combined_df$month)

 [1] "january"   "february"  "march"     "april"     "may"       "june"
 [7] "july"      "august"    "september" "october"   "november"  "december"
[13] "jul"       "aug"       "sep"       "oct"       "nov"       "dec"
[19] "jan"       "feb"       "mar"

In [295]:
convert_months <- function(df){
  df$month <- gsub("january", "jan", df$month)
  df$month <- gsub("february", "feb", df$month)
  df$month <- gsub( "march", "mar",df$month)
  df$month <- gsub("april", "apr", df$month)
  df$month <- gsub( "may", "may", df$month)
  df$month <- gsub("june","jun",  df$month)
  df$month <- gsub( "july", "jul",df$month)
  df$month <- gsub("august","aug",  df$month)
  df$month <- gsub("september", "sep", df$month)
  df$month <- gsub( "october","oct", df$month)
  df$month <- gsub("november", "nov", df$month)
  df$month <- gsub("december","dec",  df$month)
  return(df)
}

In [296]:
combined_df <- convert_months(combined_df)

In [297]:
head(combined_df)

    x                 year month yearmon    homicide_convictions
173 National          2014 jan   2014-01-01 51
174 Avon and Somerset 2014 jan   2014-01-01  0
175 Bedfordshire      2014 jan   2014-01-01  0
176 Cambridgeshire    2014 jan   2014-01-01  0
177 Cheshire          2014 jan   2014-01-01  0
178 Cleveland         2014 jan   2014-01-01  2
    homicide_unsuccessful offences_against_the_person_convictions
173 11                    9087
174  0                     228
175  1                      68
176  0                     101
177  0                     170
178  3                     119
    offences_against_the_person_unsuccessful sexual_offences_convictions
173 2930                                     736
174   62                                      35
175   29                                       2
176   21                                      10
177   40                                      15
178   44                                      11
    sexual_offences_unsuccessful ⋯ criminal_damage_unsuccessful
173 286                          ⋯ 472
174  17                          ⋯  14
175   1                          ⋯   8
176   3                          ⋯   3
177   1                          ⋯   3
178   6                          ⋯  13
    drugs_offences_convictions drugs_offences_unsuccessful
173 4988                       305
174  148                         4
175   31                         3
176   47                         1
177   64                         3
178   65                         2
    public_order_offences_convictions public_order_offences_unsuccessful
173 4752                              797
174  123                               28
175   30                                9
176   37                                2
177   77                                8
178  123                               27
    all_other_offences__excluding_motoring__convictions
173 3291
174   63
175   13
176   28
177   50
178   34
    all_other_offences__excluding_motoring__unsuccessful
173 586
174   9
175   2
176   9
177   5
178  14
    motoring_offences_convictions motoring_offences_unsuccessful
173 12945                         1466
174   256                           40
175   171                           13
176   103                           16
177   264                           16
178   228                           16
    admin_finalised_unsuccessful
173 890
174  20
175  12
176  14
177  13
178   3

In [298]:
get_missing_months <- function(dataframe){
  years <- unique(dataframe$year)
  missing_months <- list()
  

  for (year in years){
    months <- unique(dataframe[dataframe$year == year,]$month)
    all_months <- c("jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec")
    diff <- setdiff(all_months, months)
    missing_months[[year]] <- diff
  }
  
  return(missing_months)
}

In [299]:
get_missing_months(combined_df)

$`2014`
character(0)

$`2015`
[1] "nov"

$`2016`
[1] "feb" "mar"

$`2017`
[1] "apr" "may" "jun"

$`2018`
[1] "apr" "may" "jun"

In [300]:
unique(combined_df$x)

 [1] "National"              "Avon and Somerset"     "Bedfordshire"
 [4] "Cambridgeshire"        "Cheshire"              "Cleveland"
 [7] "Cumbria"               "Derbyshire"            "Devon and Cornwall"
[10] "Dorset"                "Durham"                "Dyfed Powys"
[13] "Essex"                 "Gloucestershire"       "GreaterManchester"
[16] "Gwent"                 "Hampshire"             "Hertfordshire"
[19] "Humberside"            "Kent"                  "Lancashire"
[22] "Leicestershire"        "Lincolnshire"          "Merseyside"
[25] "Metropolitan and City" "Norfolk"               "Northamptonshire"
[28] "Northumbria"           "North Wales"           "North Yorkshire"
[31] "Nottinghamshire"       "South Wales"           "South Yorkshire"
[34] "Staffordshire"         "Suffolk"               "Surrey"
[37] "Sussex"                "Thames Valley"         "Warwickshire"
[40] "West Mercia"           "West Midlands"         "West Yorkshire"
[43] "Wiltshire"

In [301]:
county_region_map <- list(
  "National" = "All",
  "Avon and Somerset" = "West",
  "Bedfordshire" = "East",
  "Cambridgeshire" = "East",
  "Cheshire" = "North",
  "Cleveland" = "North",
  "Cumbria" = "North",
  "Derbyshire" = "East",
  "Devon and Cornwall" = "West",
  "Dorset" = "West",
  "Durham" = "North",
  "Dyfed Powys" = "West",
  "Essex" = "East",
  "Gloucestershire" = "West",
  "GreaterManchester" = "North",
  "Gwent" = "West",
  "Hampshire" = "South",
  "Hertfordshire" = "East",
  "Humberside" = "North",
  "Kent" = "South",
  "Lancashire" = "North",
  "Leicestershire" = "East",
  "Lincolnshire" = "East",
  "Merseyside" = "North",
  "Metropolitan and City" = "South",
  "Norfolk" = "East",
  "Northamptonshire" = "East",
  "Northumbria" = "North",
  "North Wales" = "North",
  "North Yorkshire" = "North",
  "Nottinghamshire" = "East",
  "South Wales" = "West",
  "South Yorkshire" = "North",
  "Staffordshire" = "West",
  "Suffolk" = "East",
  "Surrey" = "South",
  "Sussex" = "South",
  "Thames Valley" = "South",
  "Warwickshire" = "West",
  "West Mercia" = "West",
  "West Midlands" = "West",
  "West Yorkshire" = "North",
  "Wiltshire" = "West"
)

In [302]:
label_county_region <- function(df, county_region) {  
  region <- c()

  for (i in 1:nrow(df)) {
    county <- df$x[i]
    region[i] <- county_region[[county]]
  }
  
  df$region <- region
  
  return(df)
}

In [303]:
combined_df <- label_county_region(combined_df, county_region_map)

In [304]:
head(combined_df)

    x                 year month yearmon    homicide_convictions
173 National          2014 jan   2014-01-01 51
174 Avon and Somerset 2014 jan   2014-01-01  0
175 Bedfordshire      2014 jan   2014-01-01  0
176 Cambridgeshire    2014 jan   2014-01-01  0
177 Cheshire          2014 jan   2014-01-01  0
178 Cleveland         2014 jan   2014-01-01  2
    homicide_unsuccessful offences_against_the_person_convictions
173 11                    9087
174  0                     228
175  1                      68
176  0                     101
177  0                     170
178  3                     119
    offences_against_the_person_unsuccessful sexual_offences_convictions
173 2930                                     736
174   62                                      35
175   29                                       2
176   21                                      10
177   40                                      15
178   44                                      11
    sexual_offences_unsuccessful ⋯ drugs_offences_convictions
173 286                          ⋯ 4988
174  17                          ⋯  148
175   1                          ⋯   31
176   3                          ⋯   47
177   1                          ⋯   64
178   6                          ⋯   65
    drugs_offences_unsuccessful public_order_offences_convictions
173 305                         4752
174   4                          123
175   3                           30
176   1                           37
177   3                           77
178   2                          123
    public_order_offences_unsuccessful
173 797
174  28
175   9
176   2
177   8
178  27
    all_other_offences__excluding_motoring__convictions
173 3291
174   63
175   13
176   28
177   50
178   34
    all_other_offences__excluding_motoring__unsuccessful
173 586
174   9
175   2
176   9
177   5
178  14
    motoring_offences_convictions motoring_offences_unsuccessful
173 12945                         1466
174   256                           40
175   171                           13
176   103                           16
177   264                           16
178   228                           16
    admin_finalised_unsuccessful region
173 890                          All
174  20                          West
175  12                          East
176  14                          East
177  13                          North
178   3                          North

In [305]:
unique(combined_df$region)

[1] "All"   "West"  "East"  "North" "South"

In [306]:
move_last_column_to_5th <- function(dataframe) {
  ncols <- ncol(dataframe)
  region <- dataframe[, ncols]
  dataframe <- dataframe[, -ncols]
  dataframe <- cbind(dataframe[, 1:4], region, dataframe[, 5:(ncols-1)])
  return(dataframe)
}

In [307]:
combined_df <- move_last_column_to_5th(combined_df)

In [308]:
head(combined_df)

    x                 year month yearmon    region homicide_convictions
173 National          2014 jan   2014-01-01 All    51
174 Avon and Somerset 2014 jan   2014-01-01 West    0
175 Bedfordshire      2014 jan   2014-01-01 East    0
176 Cambridgeshire    2014 jan   2014-01-01 East    0
177 Cheshire          2014 jan   2014-01-01 North   0
178 Cleveland         2014 jan   2014-01-01 North   2
    homicide_unsuccessful offences_against_the_person_convictions
173 11                    9087
174  0                     228
175  1                      68
176  0                     101
177  0                     170
178  3                     119
    offences_against_the_person_unsuccessful sexual_offences_convictions ⋯
173 2930                                     736                         ⋯
174   62                                      35                         ⋯
175   29                                       2                         ⋯
176   21                                      10                         ⋯
177   40                                      15                         ⋯
178   44                                      11                         ⋯
    criminal_damage_unsuccessful drugs_offences_convictions
173 472                          4988
174  14                           148
175   8                            31
176   3                            47
177   3                            64
178  13                            65
    drugs_offences_unsuccessful public_order_offences_convictions
173 305                         4752
174   4                          123
175   3                           30
176   1                           37
177   3                           77
178   2                          123
    public_order_offences_unsuccessful
173 797
174  28
175   9
176   2
177   8
178  27
    all_other_offences__excluding_motoring__convictions
173 3291
174   63
175   13
176   28
177   50
178   34
    all_other_offences__excluding_motoring__unsuccessful
173 586
174   9
175   2
176   9
177   5
178  14
    motoring_offences_convictions motoring_offences_unsuccessful
173 12945                         1466
174   256                           40
175   171                           13
176   103                           16
177   264                           16
178   228                           16
    admin_finalised_unsuccessful
173 890
174  20
175  12
176  14
177  13
178   3

In [309]:
names(combined_df)[names(combined_df) == "x"] <- "county"

In [317]:
rename_conviction_columns <- function(dataframe){
  col_names <- colnames(dataframe)
  for (i in 1:length(col_names)){
    if (grepl("_convictions", col_names[i])){
      names(dataframe)[names(dataframe) == col_names[i]] <- gsub("_convictions", "" ,col_names[i])
    }else{
      names(dataframe)[names(dataframe) == col_names[i]] <- gsub("_unsuccessful", "_us" ,col_names[i])
    }
  }
  return(dataframe)
}

In [318]:
combined_df <- rename_conviction_columns(combined_df)

In [319]:
head(combined_df)

    county            year month yearmon    region homicide homicide_us
173 National          2014 jan   2014-01-01 All    51       11
174 Avon and Somerset 2014 jan   2014-01-01 West    0        0
175 Bedfordshire      2014 jan   2014-01-01 East    0        1
176 Cambridgeshire    2014 jan   2014-01-01 East    0        0
177 Cheshire          2014 jan   2014-01-01 North   0        0
178 Cleveland         2014 jan   2014-01-01 North   2        3
    offences_against_the_person offences_against_the_person_us sexual_offences
173 9087                        2930                           736
174  228                          62                            35
175   68                          29                             2
176  101                          21                            10
177  170                          40                            15
178  119                          44                            11
    ⋯ criminal_damage_us drugs_offences drugs_offences_us public_order_offences
173 ⋯ 472                4988           305               4752
174 ⋯  14                 148             4                123
175 ⋯   8                  31             3                 30
176 ⋯   3                  47             1                 37
177 ⋯   3                  64             3                 77
178 ⋯  13                  65             2                123
    public_order_offences_us all_other_offences__excluding_motoring_
173 797                      3291
174  28                        63
175   9                        13
176   2                        28
177   8                        50
178  27                        34
    all_other_offences__excluding_motoring__us motoring_offences
173 586                                        12945
174   9                                          256
175   2                                          171
176   9                                          103
177   5                                          264
178  14                                          228
    motoring_offences_us admin_finalised_us
173 1466                 890
174   40                  20
175   13                  12
176   16                  14
177   16                  13
178   16                   3

In [ ]:
glimpse(combined_df)

In [ ]:
vis_miss(combined_df)

In [ ]:
vis_dat(combined_df)

In [ ]:
write.csv(combined_df, "dataset/cleaned-data.csv", row.names=FALSE)

# Descriptive Analytics

## Attributes Analysis

In [ ]:
print_summary <- function(dataframe){
  for (i in colnames(dataframe)){
    print(i)
    print(summary(dataframe[,i]))
  }
}

In [ ]:
print_summary(combined_df)

## Analysis dependent on Regions

In [ ]:
group_by_region <- function(dataframe){
  dataframe %>%
    group_by(region)
}

In [ ]:
group_by_region(combined_df)

## Analysis dependent on County

## Analysis dependent on Years & Months

## Analysis between Crime Types

In [ ]:
plot_histograms_for_all_numeric_columns <- function(dataframe){
  for (i in 1:ncol(dataframe)){
    if(is.numeric(dataframe[,i])){
      hist(dataframe[,i], main = colnames(dataframe)[i])
    }
  }
}

In [ ]:
plot_histograms_for_all_numeric_columns(df)

In [ ]:
plot_graphs_for_all_columns_with_yearmon <- function(dataframe){
  for (i in 1:ncol(dataframe)){
    if (is.numeric(dataframe[,i])){
      plot(dataframe$year, dataframe[,i], type="l", main=colnames(dataframe)[i])
    }
  }
}

In [ ]:
plot_graphs_for_all_columns_with_yearmon(df)

## Correlation

In [ ]:
corr_matrix_graph <- function(dataframe){
  num_cols <- sapply(dataframe, is.numeric)
  corr_matrix <- cor(dataframe[,num_cols])
  corrplot(corr_matrix, type = "upper", order = "hclust", tl.cex = 0.7, tl.col = "black", is.corr = TRUE, mar = c(0, 0, 0, 0))
}

In [ ]:
corr_matrix_graph(df)

# Covarince

In [ ]:
cov_matrix_graph <- function(dataframe){
  num_cols <- sapply(dataframe, is.numeric)
  num_cols <- names(num_cols[num_cols])
  cov_matrix <- cov(dataframe[,num_cols])
  corrplot(cov_matrix, type = "upper", order = "hclust", tl.cex = 0.7, tl.col = "black", is.corr = FALSE, mar = c(0, 0, 0, 0))
}

In [ ]:
cov_matrix_graph(df)

# Predictive Analytics

-- The rate of un-succesful crimes is increasing or decreasing every year, which imposes either the courst system is gettng better or police is geeting better.

-- A, B region has more crimes than C, D region.

-- The number of crimes increase by the end of the year as compared to the start of the year.

--

## Linear Regression

## Clustering

## Classification

# Prescriptive Analytics

In [ ]:
-- The number of crimes are increasing every year.

## Time Series Forecasting

Suggesting any particular month to look out for specific crime peaks and telling which ones could go down.